* {padding: 0; border: 0; margin: 0;}

.back {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: radial-gradient( #5c38db, #3843db, magenta, #3911ca, #cc2ccc,#a73ea7, #3423cc, #cc2ccc, #cc2c7c, #ee3bb8, magenta );
    background-size: 300% 300%;
    animation: bg-animation 8s alternate infinite ;
}
@keyframes bg-animation {
    0% { background-position: 0% 25%;}
    50% {background-position: 25% 50%;}
    100% {background-position: 75% 100%;}
    
}

.front {position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 85vw;
    height: 85vh;
    border-radius: 30px ;
    background-color: #EBEBEB;
    box-shadow: 0 -1px 100px rgb(255, 255, 255);}
    .div-header {
        height: 4vh;
        width: 83vw;
        margin: auto;
        border-radius: 30px 30px 0 0 ;
        background-color: #000;
       
    }

.container-div-header {
    width: 17px;
    height: 17px;
    background-color: white;
    margin: 5px auto ;
    border-radius: 0 0 50% 50%;
}
.camera-div-header {
    width: 13px;
    height: 14px;
    background-color: rgb(0, 0, 0);
    margin: auto ;
    border-radius: 50%;
    

}.falante-div-header {
    width: 90px;
    height: 4px;
    background-color: rgb(75, 69, 69);
    border-radius: 15px;
    margin: 10px -36px;
}
.display {
    width: 83vw;
    height: 75vh;
    background-color: white;
    border-radius: 0 0 15px 15px ;
    margin: auto ;
    
}.botao {
    width: 8vw;
    height: 2vh;
    background-color:rgb(185, 158, 158);
    margin: 10px auto  ;
    border-radius: 10%;
    box-shadow: 0 0 10px white;
}

.container-display{
    display: flex;
}
.content-display{
    
}
.card{
   
}
.links {
    padding: 5px;
    display: flex;
    width: 64px;
    height: 64px;
    margin: 10px 10px;
    border-radius: 22px;
    background-color: rgb(214, 214, 214);
}