@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
    border: 0px;        
} .footer-dark {
    color: #282d32;
    background-color: #ffffff;
    width: 100vw;
    height: 82px;
    bottom: 0;
    position: fixed;

text-align: center;
}

.icones-social2 {
    margin-left: 10px;
    margin-right: 10px;
}
.icones-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity:100;
}

a:hover {
opacity:0.5;
}



.rodape-text {
text-align:center;
padding-top:1px;
opacity:0.3;
font-size:13px;
margin-bottom:0;
}
body {
    background-color: #1DA1F2;
    min-width: 120px;

}
.bem-vindo {
    color: rgb(255, 255, 255);
    font-size: 2.0vh;
    font-family: cursive;   
    margin: auto;
    border: 1px solid rgba(255, 0, 0, 0);
    text-align: center;
    
    
}
main {
    margin: auto;
    width: 100vw;
    min-width: 200px;
    
    height:1vh;
    background-color:#1da1f2;
}
header {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.267);
    background-color: #1DA1F2;
    width: 100hw;
}
.txtz {
    width: 85vw;
    color: white;
    padding: 1vh;
    display: block;
    margin: auto;
    font-size: 1.35em;
    font-family: 'Cagliostro', sans-serif;
    background-color:#ff0400;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px 3px 20px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.499);
} a {
    font-size: 1.5em;
}
.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    border-radius: 30px;
    background-color: #4abafff6;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.499);
    justify-content: space-around;
    width: 70vw;
    
}