@charset "utf-8";
* { margin: 0px; padding: 0px; border: 0px;}
.dv1 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(230, 130, 130);
        
    
}
.childs-dv1 {
    background-color: rgb(208, 185, 185);
    height: 200px;
    width: 200px;
    border-radius: 20%;
    
}
.h1-dv1 {
    padding: 19px;
    margin: auto;
}