*{margin: 0; padding: 0; box-sizing: border-box;}

.quadro-jogo{
    display: flex;
    width:100vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(#87ceeb, #e0f6ff);
}
.cano-verde{
    position: absolute;
    bottom: 0;
    width: 80px;
    right: 0;
    animation: canoVerde 2.5s infinite linear;
}

#mario{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    
}

.pular{
    animation: pulo-mario .9s ease-out;
}


@keyframes pulo-mario {
    0%{bottom:0px;} 
    40%{bottom:170px}
    50%{bottom:180px}
    60%{bottom:160px}
    100%{bottom:0px}} 

@keyframes canoVerde{
    0%{right: -100px;}
    100%{right: 100%;}
}

.botoes {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width:900px;
    height: 100px;
    background-color: #000;
    color: #fff;
    font-size: 30px;
    border-radius: 0 0 15px 15px;
    border: none;
}
.bots{
    width: 280px;
    height: 80px;
    background: #000;
    color: #fff;
    font-size: 40px;
}