@charset 'utf-8';

* {
    padding: 0; margin:0;  
}
body {
    background: hsla(75, 5%, 16%, 1);

background: linear-gradient(135deg, hsla(75, 5%, 16%, 1) 1%, hsla(332, 81%, 38%, 1) 64%, hsla(218, 42%, 55%, 1) 83%, hsla(0, 0%, 100%, 1) 96%);

background: -moz-linear-gradient(135deg, hsla(75, 5%, 16%, 1) 1%, hsla(332, 81%, 38%, 1) 64%, hsla(218, 42%, 55%, 1) 83%, hsla(0, 0%, 100%, 1) 96%);

background: -webkit-linear-gradient(135deg, hsla(75, 5%, 16%, 1) 1%, hsla(332, 81%, 38%, 1) 64%, hsla(218, 42%, 55%, 1) 83%, hsla(0, 0%, 100%, 1) 96%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2b2c28", endColorstr="#af125a", GradientType=1 );
}

.conteudo-texto {
    border-radius: 15px;
    padding: 10px 5px 10px 5px;
    margin:  auto;
    width: 80vw;
    display: flex;
    font-size: 1.9vh;
    font-family: 'Julius Sans One';
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px #ffffff
    

}
#demo {
    font-size: 10vw;
    color: white;
}
.paragrafo-ultimo {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Julius Sans One';
    font-size: 2vh;
    width: 80vw;
    background-color: #C880B7;
    color: white;
    padding: 10px 2px 10px 2px; 
    border-radius: 30px;
    margin: 1vh auto ;
    box-shadow: 0px 0px 10px rgb(247, 84, 84)
}
.gif {
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 40% 40% 0px 0px;
    box-shadow: 0px 0px 40px white;

}

.clock{
    display: flex;
    justify-content: center;
    font-family: 'Julius Sans One';
    font-size: 2vh;
    background-color: #be3462;
    border-radius: 25px;
    width: 80vw;
    margin: auto;
    padding: 5px;
    box-shadow: 0px 0px 15px #9E1946;


}