* {padding: 0; margin: 0; box-sizing: border-box; border: 0;}

body {
  background-color: #000;
}

.content {
  display: flex;
  background: #0ff;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  box-shadow: 0 0 15px #ff0;
  
}

.card {
  display: flex;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  width: 80%;
  height: 200px;
  margin: auto;

}


@media (max-width: 600px) {
 body{
  background-color: #02f;
}
}