@charset "utf-8";
#screen{
    border: 10px solid #ccc;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 50vw;
    height: 90vh;
    margin: auto;
    display: flex;
    background-color: black;
}
.cnvs {
    margin: auto;
}
body {
    background-image: linear-gradient(black, red);
}