@charset "utf-8";
#screen{
    border: 1px solid rgba(0, 0, 0, 0);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 70vw;
    height: 93vh;
    -webkit-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.19);
    margin: auto;
    display: flex;
    
    
}
.cnvs {
    margin: auto;
}
body {
    background-image: linear-gradient(black, rgb(0, 0, 255));
} button {
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}